.navbar-detail {
  background-color: #234B9B;
  width: 94.4vw;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  position: absolute; /* Aqui, em vez de fixed */
  top: 0;
  left: 0;
  z-index: 1000;
}
.album-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 80px;
  background-color: #f5e7c4;
  color: #1a1a1a;
  min-height: 100vh;
  font-family: var(--font-text);
}

.album-detail img {
  width: 400px;
  max-width: 400px;
  height: auto;
}

.album-info {
  max-width: 600px;
  margin-left: 60px;
}

.album-info h2 {
  font-size: 32px;
  margin-bottom: 16px;
  color: #193f66;
}

.album-info p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.album-buttons {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  justify-content: center;
}

.album-buttons a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  font-family: var(--font-text);
}

.album-buttons .back {
  background-color: transparent;
  color: #193f66;
  border: 2px solid #193f66;
}

.album-buttons .spotify {
  background-color: #193f66;
  color: #fff;
}

.album-buttons a:hover {
  opacity: 0.8;
}
.footer-detail .paper-tear-footer{
  top: -160px;
}

/* Responsivo */
@media (max-width: 768px) {
  .album-detail {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .album-info {
    margin-left: 0;
    margin-top: 40px;
  }

  .album-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .album-buttons a {
    width: 100%;
    max-width: 200px;
  }
}
