@import './fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

:root {
  --main-bg: #45092D; 
  --light-bg: #FFF1E7;      
  --accent-red: #C0123D;    
  --text-dark: #2C2C2C;       
  --highlight-gold: #F7C46C;  

  --font-title: 'Birds of Paradise', cursive;
  --font-text: 'Lora', serif;
}
html, body {
  height: 100%;
  font-family: var(--font-text);
  color: var(--text-dark);
  background-color: var(--highlight-gold);
  margin: 0;
  padding: 0;
}
.paper-tear {
  position: absolute;
  top: 84%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  pointer-events: none;
  margin-bottom: 0;
}
@media (max-width: 768px) {
    .paper-tear {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5;
    pointer-events: none;
    margin-top: -990px;
    margin-bottom: -50px;
  }
}